body{
    font-family: 'Be Vietnam Pro', sans-serif;
    padding: 0;
    margin: 0 auto;
    
}
.top-section{
    margin-bottom: 140px;
}
.mission-section{
    margin-bottom: 100px;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 40px;
    text-align: center;
    color: blueviolet;
}
h4{
    font-size: 25px;
}
.color-change{
    color: rgb(243, 121, 77);
}
.btn-margin{
    margin: 30px 0px;
}
.button-design{
    
    text-decoration: none;
    color: white;
    background-color: orangered;
    padding: 10px 20px;
    border-radius: 5px;
}
.split-section{
    display: flex;
    
}
.half-width{
    width: 100%;
    padding-left: 10%;

}
#img-one{
    background-image: url(images/shapes/shape-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 60%;
}
.left-border{
    border-left: 5px solid;
    border-top-left-radius: 5px;
    border-radius: 5px;
    border-color: tomato;
    padding-left: 20px;
}

.three-part{
    width: 20%;
    margin-left: 5%;
    background-color: orchid;
    padding: 3%;
    border-radius: 10px;
}
#bg-color-one{
    background-color: rgb(249, 211, 113);
}
#bg-color-two{
    background-color: cyan;
}

.three-part img{
    width: 30%;
}


.sixty-percent{
    width: 60%;
}
.develop-section{
    background-image: url(images/shapes/shape-6.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 50%;
}
.forty-percent{
    width: 50%;
}

.community-section{
    background-image: url(images/shapes/shape-7.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50%;
}

.bg-img-comm{
    margin-left: 10%;
}
.widt{
    padding: 10%;
}
.widt img{
    width: 80%;
}
footer{
    margin-top: 100px;
    color: blanchedalmond;
    background-color: rgb(22, 0, 64);
    text-align: center;
    padding-top: 3px;
    padding-bottom: 1px;
}
footer h4{
    font-size: 40px;
    font-family: 'Lobster', cursive;
}
.sleep-code{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}





