body{
    font-family: 'Be Vietnam Pro', sans-serif;
    padding: 0;
    
}
section{
    
}
  
h1{
    font-size: 60px;
}
h2{
    font-size: 40px;
    text-align: center;
    color: blueviolet;
}
h4{
    font-size: 25px;
}
.color-change{
    color: rgb(243, 121, 77);
}
.btn-margin{
    margin: 30px 0px;
}
.button-design{
    
    text-decoration: none;
    color: white;
    background-color: orangered;
    padding: 10px 20px;
    border-radius: 5px;
}
.split-section{
    display: flex;
    margin-bottom: 140px;
}
.half-width{
    width: 100%;
    padding-left: 10%;

}
#img-one{
    margin-top: 0;
    width: 60%;
}
/* .half-width img{
    margin-top: 0;
    width: 60%;
} */
.left-border{
    border-left: 5px solid;
    border-top-left-radius: 5px;
    border-radius: 5px;
    border-color: tomato;
    padding-left: 20px;
}

.three-part{
    width: 20%;
    margin-left: 5%;
    
    background-color: thistle;
    padding: 3%;
    border-radius: 10px;
}

.three-part img{
    width: 30%;
}
.forty-percent{
    width: 40%;
}

.sixty-percent{
    width: 60%;
}
.develop-section{
    margin-left: 10%;
    margin-right: 10%;
}
.community-section{
    margin-left: 10%;
    margin-right: 10%;
}
.full-width{
    width: 80%;
}
.eighty-percent{
    padding-right: 10%;
}

